
<li>
  <span class='header'>Add</span>
</li>
<li class='divider'></li>
<li>
  <a class='new-board' href='#'>
    <b>New Board...</b>
    <span class='add-item-description'>
      Cheese Board - where's the cheese Joe?
    </span>
  </a>
</li>
