
	<h2><%= best_in_place @consumer, :name, :as => :input  %></h2>
	<p><%= best_in_place @consumer, :email  %></p>
	
	<p><%= best_in_place @consumer, :birthday  %></p>
	<p><%= best_in_place @consumer, :gender %></p>

