
	<h2><%= best_in_place @consumer, :name  %></h2>
	<p><%= best_in_place @consumer, :email  %></p>
	<p><%= best_in_place @consumer, :birthday  %></p>
	<p><%= best_in_place @consumer, :gender_cd  %></p>

